<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squadpage {{ teamName }}</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>

  <body>
    <header>
      <a href="/">  
        <h1> {{ teamName }}✨</h1>
      </a>
    </header>
  
    <main>
      <form id="filters" method="get">
        <button type="button">A - Z</button>

        <label class="sr-only">Age</label>
        <input type="number" placeholder="Age" class="button-lookalike">

        <label class="sr-only">City</label>
        <input type="text" placeholder="City" class="button-lookalike">

        <select name="squad">
          <option value="all">All Squads</option>
          <option value="1I">Squad 1I</option>
          <option value="1J">Squad 1J</option>
        </select>
        
        <button type="submit">Filter</button>
      </form>

      <ul class="squad-members">
      <li>
      {% for person in persons %}
      <section class="person-card-info">
        <button type="button">🗙</button>
        <button type="button">🩷</button>

        <figure>
          <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=500" alt="Profile picture">
          <figcaption>
            {{ person.name }}
            <span class="likes">12 likes</span>
          </figcaption>
        </figure>

      <h2>Current comments:</h2>

      {% for message in messages %}
        <p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
      {% else %}
        <p>There are no comments now for this team.</p>
      {% endfor %}

      <h2>Leave a comment:</h2>
        <form method="post" action="/">
          <label>
          Name:
          <input type="text" name="from" required>
          </label>

          <label>
          Comment:
          <svg width="20px" height="20px" viewBox="0 -0.5 25 25" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 12C5.49988 14.613 6.95512 17.0085 9.2741 18.2127C11.5931 19.4169 14.3897 19.2292 16.527 17.726L19.5 18V12C19.5 8.13401 16.366 5 12.5 5C8.63401 5 5.5 8.13401 5.5 12Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.5 13.25C9.08579 13.25 8.75 13.5858 8.75 14C8.75 14.4142 9.08579 14.75 9.5 14.75V13.25ZM13.5 14.75C13.9142 14.75 14.25 14.4142 14.25 14C14.25 13.5858 13.9142 13.25 13.5 13.25V14.75ZM9.5 10.25C9.08579 10.25 8.75 10.5858 8.75 11C8.75 11.4142 9.08579 11.75 9.5 11.75V10.25ZM15.5 11.75C15.9142 11.75 16.25 11.4142 16.25 11C16.25 10.5858 15.9142 10.25 15.5 10.25V11.75ZM9.5 14.75H13.5V13.25H9.5V14.75ZM9.5 11.75H15.5V10.25H9.5V11.75Z" fill="#000000"/></svg>
          <textarea name="text" required></textarea>
         </label>

        <button type="submit">Send</button>
        </form>
    </section>
    {% endfor %}
    </li>
  </ul>
  </main>

    <footer>
     {% comment %} <h3>Squads</h3>
      <ul>
        {% for squad in squads %}
            <li>
              Squad {{ squad.name }}
            </li>
        {% endfor %}
      </ul> {% endcomment %}
    </footer>
  </body>
</html>